.styles {
    background-color: rgb(200, 195, 226);
    color: red;
    margin:0px; 
    margin-bottom: 25px;
    margin-top: 25px;
}

.levels {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 60px;

}